@model slbfeHardware.Models.EnterItemsModel


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-8">
                <h3 class="mb-0">
                    <b> Complete Task </b>
                </h3>
            </div>
            <div class="col-sm-4">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Hardware")">Home</a></li>
                    <li class="breadcrumb-item active">Complete Task</li>
                </ol>
            </div>
        </div>
    </div>
</section>



<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-info">
                <div class="card-body">

                    @*<i class="fas fa-filter"></i>&nbsp;&nbsp;
                        <a href="/Hardware/HandoverFilterView?status=10" class="btn btn-primary btn-sm @(ViewBag.CurrentStatus == "10" ? "active" : "")">Handover - Recommend</a>&nbsp;&nbsp;
                        <a href="/Hardware/HandoverFilterView?status=4" class="btn btn-primary btn-sm @(ViewBag.CurrentStatus == "4" ? "active" : "")">Ready To Sent</a>&nbsp;&nbsp;
                        <a href="/Hardware/HandoverFilterView?status=All" class="btn btn-primary btn-sm @(ViewBag.CurrentStatus == "All" ? "active" : "")">Search All</a>&nbsp;&nbsp;*@

                    <hr />

                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Item Type</th>
                                <th>IT No</th>
                                <th>Serial No</th>
                                <th>INV No</th>
                                <th>QR</th>

                                <th>Location</th>
                                <th>Complete Date</th>
                                <th>Task</th>
                                <th>
                                    <center>Action</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (System.Data.DataRow r in Model.CompleteTaskTBL.Rows)
                            {
                                string path = "../../Content/Icon/" + r.ItemArray.GetValue(0).ToString().Trim() + ".png";
                                string THandoverType = r.ItemArray.GetValue(11).ToString().Trim();

                                <tr>
                                    <td>
                                        <center>
                                            <img src="@path" width="25" />&nbsp;
                                            @r.ItemArray.GetValue(0).ToString().Trim()
                                        </center>
                                    </td>
                                    <td>@r.ItemArray.GetValue(1).ToString().Trim()</td>
                                    <td>@r.ItemArray.GetValue(3).ToString().Trim()</td>
                                    <td>@r.ItemArray.GetValue(2).ToString().Trim()</td>
                                    <td>@r.ItemArray.GetValue(4).ToString().Trim()</td>

                                    <td>@r.ItemArray.GetValue(5).ToString().Trim()</td>
                                    <td>@r.ItemArray.GetValue(7).ToString().Trim()</td>
                                    <td>@r.ItemArray.GetValue(6).ToString().Trim()</td>
                                    <td>
                                        <center>
                                            <div class="justify-content-around gap-2">

                                                <a href="/Hardware/DevicesFullView?itNO=@r.ItemArray.GetValue(1).ToString()" class="btn btn-warning btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="View" target="_blank">
                                                    <i class="fas fa-eye"></i>
                                                </a>






                                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#HandoverReModal" data-bs-toggle="tooltip" data-bs-placement="top" title="Handover Complete"
                                                        data-itno="@r.ItemArray.GetValue(1).ToString().Trim()"
                                                        data-hlocation="@r.ItemArray.GetValue(5).ToString().Trim()"
                                                        data-itemtype="@r.ItemArray.GetValue(0).ToString().Trim()"
                                                        data-serialNo="@r.ItemArray.GetValue(3).ToString().Trim()"
                                                        data-invNo="@r.ItemArray.GetValue(2).ToString().Trim()"
                                                        data-qr="@r.ItemArray.GetValue(4).ToString().Trim()"
                                                        data-aofficer="@r.ItemArray.GetValue(8).ToString().Trim()"
                                                        data-hlocationID="@r.ItemArray.GetValue(1).ToString().Trim()"
                                                        data-dutyID="@r.ItemArray.GetValue(13).ToString().Trim()"
                                                        data-thandoverID="@r.ItemArray.GetValue(10).ToString().Trim()">
                                                    <i class="fas fa-handshake"></i>
                                                </button>


                                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#CourierReModal" data-bs-toggle="tooltip" data-bs-placement="top" title="Courier Request"
                                                        data-itno1="@r.ItemArray.GetValue(1).ToString().Trim()"
                                                        data-hlocation1="@r.ItemArray.GetValue(5).ToString().Trim()"
                                                        data-itemtype1="@r.ItemArray.GetValue(0).ToString().Trim()"
                                                        data-serialNo1="@r.ItemArray.GetValue(3).ToString().Trim()"
                                                        data-invNo1="@r.ItemArray.GetValue(2).ToString().Trim()"
                                                        data-qr1="@r.ItemArray.GetValue(4).ToString().Trim()"
                                                        data-aofficer1="@r.ItemArray.GetValue(8).ToString().Trim()"
                                                        data-hlocationID1="@r.ItemArray.GetValue(9).ToString().Trim()">
                                                    <i class="fas fa-truck-loading"></i>
                                                </button>




                                            </div>
                                        </center>

                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Item Type</th>
                                <th>IT No</th>
                                <th>Serial No</th>
                                <th>INV No</th>
                                <th>QR</th>
                                <th>Location</th>
                                <th>Complete Date</th>
                                <th>Task</th>
                                <th>
                                    <center>Action</center>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>



@*Handover Shipping Modal *@
<div class="modal fade" id="HandoverReModal" tabindex="-1" role="dialog" aria-labelledby="HandoverReModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="HandoverReModalLabel">
                    <i class="fas fa-handshake"></i>
                    Handover Completion -  <span id="itNoRe"></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- Form Post -->
                <form id="THandoverComplete" method="post">

                    <div class="row">
                        <div class="col-md-11">
                            <div class="form-group mb-1">
                                <h3>
                                    <center>
                                        <label for="HLocation">Handover Location - </label>
                                        <span id="HLocationRe"></span>
                                    </center>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label for="itemType">Item Type - </label>
                                <span id="itemTypeRe"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label for="inv_no">INV Number - </label>
                                <span id="inv_noRe"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label for="serialNumber">Serial Number - </label>
                                <span id="serialNumberRe"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label for="qr_code">QR - </label>
                                <span id="qr_codeRe"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-11">
                            <div class="form-group mb-1">
                                <label for="AOfficer">Authorized Officer - </label>
                                <span id="AOfficerRe"></span>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row mb-2">
                        <div class="col-md-4">
                            <label for="StickerDate">Handover Date &nbsp;<span style="color: red;">*</span> </label>
                        </div>
                        <div class="col-md-8">
                            <input type="date" class="form-control" name="HOComDate" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="EmpNo">Employee Number</label>
                            <input type="number" class="form-control" name="EmpNo" id="EmpNo" placeholder="Enter Employee Number">
                        </div>

                        <div class="col-md-6">
                            <label for="EmployeeName">Employee Name</label>
                            <input type="text" class="form-control" id="EmployeeName" name="EmployeeName" readonly>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="HOComRemarks" class="form-label">Additional Information</label>
                        <textarea class="form-control" name="HOComRemarks"></textarea>
                    </div>

                    <input type="hidden" id="thandoverIDRe" name="thandoverIDRe" />
                    <input type="hidden" id="itNumberRe" name="itNumberRe" />
                    <input type="hidden" id="dutyIDRe" name="dutyIDRe" />


                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary col-sm-5" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info col-sm-5">Complete Handover</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@*courier model*@
<div class="modal fade" id="CourierReModal" tabindex="-1" role="dialog" aria-labelledby="CourierReModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="requestLetterModalLabel">
                    <i class="fas fa-truck-loading"></i>
                    Courier Request Form -   <span id="itNo"></span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="SubmitCourier" method="post">


                    <div class="row">
                        <div class="col-md-11">
                            <div class="form-group mb-1">
                                <h3>
                                    <center>
                                        <label for="HLocation">Courier Location - </label>
                                        <span id="CLocation"></span>
                                    </center>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <hr />


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label for="letterDate">Item Type - </label>
                                <span id="itemType"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label for="letterDate">INV Number - </label>
                                <span id="inv_no"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label for="letterDate">Serial Number - </label>
                                <span id="serialNumber"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group mb-2">
                                <label for="letterDate">QR - </label>
                                <span id="qr_code"></span>
                            </div>
                        </div>

                    </div>


                    <hr />

                    <input type="text" id="hOLocationID" name="hOLocationID" />

                    <input type="text" id="itno" name="itno" />


                    <div class="form-group">
                        <label for="letterDate">Request Date&nbsp;<span style="color: red;">*</span></label>
                        <input type="date" class="form-control" id="CReqDate" name="CReqDate" required>
                    </div>
                    <div class="mb-3">
                        <label for="additionalInfo" class="form-label">Additional Information</label>
                        <textarea class="form-control" id="CReqRemarks" name="CReqRemarks"></textarea>
                    </div>

                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary col-sm-5" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info col-sm-5">Request to Courier</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
       
        $('#CourierReModal').on('shown.bs.modal', function (event) {
            var button = $(event.relatedTarget); 

            var itno1 = button.data('itno1');
            var hlocation1 = button.data('hlocation1');
            var hlocationID1 = button.data('hlocationid1');
            var itemtype1 = button.data('itemtype1');
            var serialNo1 = button.data('serialno1');
            var invNo1 = button.data('invno1');
            var qr1 = button.data('qr1');
            var aofficer1 = button.data('aofficer1');

            $('#itNo').text(itno1);
            $('#CLocation').text(hlocation1);
            $('#hOLocationID').val(hlocationID1);
            $('#itemType').text(itemtype1);
            $('#serialNumber').text(serialNo1);
            $('#inv_no').text(invNo1);
            $('#qr_code').text(qr1);
            $('#AOfficer').text(aofficer1);
        });


        $('#HandoverReModal').on('shown.bs.modal', function (event) {
            var button = $(event.relatedTarget);

            var itno = button.data('itno');
            var hlocation = button.data('hlocation');
            var hlocationID = button.data('hlocationid');
            var itemtype = button.data('itemtype');
            var serialNo = button.data('serialno');
            var invNo = button.data('invno');
            var qr = button.data('qr');
            var aofficer = button.data('aofficer');
            var thandoverID = button.data('thandoverid');
            var dutyID = button.data('dutyid');

            $('#HLocationRe').text(hlocation);
            $('#itemTypeRe').text(itemtype);
            $('#itNoRe').text(itno);
            $('#inv_noRe').text(invNo);
            $('#serialNumberRe').text(serialNo);
            $('#qr_codeRe').text(qr);
            $('#AOfficerRe').text(aofficer);
            $('#itNumberRe').val(itno);
            $('#thandoverIDRe').val(thandoverID);
            $('#dutyIDRe').val(dutyID);
        });


        $("#THandoverComplete").on("submit", function (e) {
            e.preventDefault(); 

            var formData = $(this).serialize(); 
            $.ajax({
                url: "/Hardware/THandoverComplete", 
                type: "POST",
                data: formData,
                success: function (response) {
                    if (response.success) {
                            $("#HandoverReModal").modal("hide"); 
                        location.reload();
                    } else {
                        Swal.fire({
                            title: "Error!",
                            text: response.message || "An error occurred.",
                            icon: "error",
                            confirmButtonText: "OK"
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        title: "Error!",
                        text: "Unable to complete the request.",
                        icon: "error",
                        confirmButtonText: "OK"
                    });
                }
            });
        });
    });
</script>



<script>
    $(document).ready(function() {
        $('#EmpNo').on('input', function() {
            var empNo = $(this).val();
            var submitButton = $('#addUserForm button[type="submit"]'); // Select the submit button

            if (empNo) {
                $.ajax({
                    url: '@Url.Action("GetEmployeeName", "Hardware")',
                    type: 'GET',
                    data: { empNo: empNo },
                    success: function(data) {
                        $('#EmployeeName').val(data || 'Not found');
                        if (data) {
                            submitButton.show(); // Show the button if data is found
                        } else {
                            submitButton.hide(); // Hide the button if no data found
                        }
                    },
                    error: function() {
                        $('#EmployeeName').val('Error retrieving name');
                        submitButton.hide(); // Hide the button on error
                    }
                });
            } else {
                $('#EmployeeName').val('');
                submitButton.hide(); // Hide the button if EmpNo is empty
            }
        });
    });
</script>
