@{
    ViewBag.Title = "Devices in IT";
}

@model slbfeHardware.Models.EnterItemsModel


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-8">
                <div class="col-sm-6">
                    <h3 class="mb-0"><b>Devices in IT</b></h3>
                </div>
            </div>
            <div class="col-sm-4">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Dashboard", "Hardware")">Home</a></li>
                    <li class="breadcrumb-item active">Find Devices</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-info">

                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Item Type</th>
                                <th>IT No</th>
                                <th>Serial No</th>
                                <th>INV No</th>
                                <th>QR</th>
                                <th>Purchased Division</th>
                                <th>Current Location</th>
                                <th style="width: 10%;">
                                    <center>Action</center>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (System.Data.DataRow r in Model.InIT.Rows)
                            {
                                string path = "../../Content/Icon/" + r.ItemArray.GetValue(0).ToString().Trim() + ".png";
                                string statusValue = r.ItemArray.GetValue(6).ToString().Trim();
                                <tr>
                                    <td>
                                        <center>
                                            @r.ItemArray.GetValue(0).ToString().Trim()&nbsp;
                                            <img src="@path" width="25" />

                                        </center>
                                    </td>
                                    <td>@r.ItemArray.GetValue(2).ToString().Trim()</td>
                                    <td>@r.ItemArray.GetValue(3).ToString().Trim()</td>
                                    <td>@r.ItemArray.GetValue(4).ToString().Trim()</td>
                                    <td>@r.ItemArray.GetValue(5).ToString().Trim()</td>

                                    <td>@r.ItemArray.GetValue(9).ToString().Trim()</td>
                                    <td>@r.ItemArray.GetValue(10).ToString().Trim()</td>


                                    <td>
                                        <center>
                                            <div class=" justify-content-around gap-2">

                                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Handover Request"
                                                        onclick="location.href='/Hardware/HandOverForm?itNo=@r.ItemArray.GetValue(2).ToString()'">
                                                    <i class="fas fa-handshake"></i>
                                                </button>

                                                &nbsp;
                                                <a href="/Hardware/DevicesFullView?itNO=@r.ItemArray.GetValue(2).ToString()" class="btn btn-warning btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="View" target="_blank">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                            </div>
                                        </center>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Item Type</th>
                                <th>IT No</th>
                                <th>Serial No</th>
                                <th>INV No</th>
                                <th>QR</th>
                                <th>Purchased Division</th>
                                <th>Current Location</th>
                                <th>
                                    <center>Action</center>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>



<script>
    function loadDetails(type) {
        var detailsDiv = document.getElementById('details');
        detailsDiv.innerHTML = 'Loading details...';

        // Simulate an AJAX request to fetch details
        setTimeout(function () {
            var details = getDetailsForType(type);
            detailsDiv.innerHTML = 'Details: ' + details;
        }, 1000);
    }

    function getDetailsForType(type) {
        var details = {
            inIT: 'Details about In IT',
            all: 'Details about In IT, In Current Location'
        };
        return details[type] || 'No details available';
    }

</script>


<script>
    $(document).ready(function () {
        new DataTable('#example');
    });
</script>





